<launch>
    <!-- <node pkg = "chassis" type = "sub" name="vcu_sub" output="screen"/> -->
    <node pkg = "chassis2" type = "vcucan" name="vcu" output="screen">
        <param name="chassis_able" type= "int" value="0"/>
        <param name="chassis_gear" type="int" value="0"/>
        <param name="chassis_vel" type="double" value="0"/>
        <param name="chassis_str" type="double" value="0"/>
        <param name="dri_p" type="double" value="1.6"/>
        <param name="dri_i" type="double" value="0.0"/>
        <param name="dri_d" type="double" value="0.3"/>
        <param name="v_limit" type="double" value="0.7"/>
        <param name="t_limit" type="double" value="15.1"/>
        
    </node>
</launch>
